/* mayous.rc - icons, manifest, version info
   ASCII only on purpose: keeps windres free of codepage guessing. */

#include <winver.h>

#define IDI_MAIN 101
#define IDI_OFF  102

IDI_MAIN ICON "mayous.ico"
IDI_OFF  ICON "mayous_off.ico"


VS_VERSION_INFO VERSIONINFO
  FILEVERSION     20,0,0,0
  PRODUCTVERSION  20,0,0,0
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
  FILEFLAGS       0
  FILEOS          VOS_NT_WINDOWS32
  FILETYPE        VFT_APP
  FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041104b0"
    BEGIN
      VALUE "CompanyName",      "Mayous"
      VALUE "FileDescription",  "Mayous - Mouse Chord Utility"
      VALUE "FileVersion",      "20.0.0.0"
      VALUE "InternalName",     "mayous"
      VALUE "OriginalFilename", "mayous.exe"
      VALUE "ProductName",      "Mayous"
      VALUE "ProductVersion",   "v20"
      VALUE "Comments",         "Right/left mouse button chords for Windows"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x411, 1200
  END
END
